<div ng-controller="mainController">
	<div class="scrollable">
		<div class="scrollable-content">
			<br/>
			<div class="header_sub"><h4>Test Details<h4></div>
				<table class="table table-hover">
					<tbody>
						<tr>
							<td><i class="fa fa-check"></i>First Internal Exam</td><td>Details&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-circle"></i></td>
						</tr>
						<tr>
							<td><i class="fa fa-check"></i>Second Internal Exam</td><td>Details&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-circle"></i></td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</div>
