<div>
	<h1>Login Page</h1>
	<h3>Virat Joshi</h3>
	<div>
    <!--<div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages"></div>
	<div id="messages" class="alert alert-danger" ng-show="messages_error" ng-bind="messages_error"></div>
    <div ng-show="progress.active()" style="color: red; font-size: 50px;">Sending&hellip;</div>-->
    <form name="helpForm" novalidate role="form" >
		<div class="form-group">
			<input type="text" name="instance_name" ng-model="intWeightage" class="form-control" placeholder="Instance Name" required />
		</div>
		<div class="form-group">
			<div>
				<input type="text" name="user_name" ng-model="extWeightage" class="form-control" placeholder="User Name" required />
			</div>
		</div>
		<div class="form-group">
			<div>
				<input type="text" name="password" ng-model="extWeightage" class="form-control" placeholder="Password" required />
			</div>
		</div>
		<div class="form-group">
			<h5>Remember Me  </h5>
			<div>
				<input type="checkbox" name="extWeightage" ng-model="extWeightage" class="form-control" required />
			</div>
		</div>
    </form>
  </div>
</div>