<div ng-controller="loginController">
	<div class="scrollable" ui-state="searchBar">
		<div class="scrollable-content">
			<form name="loginForm" novalidate role="form" class="simple-form">
				<div class="form-group">
					<input type="text" name="instance_name" ng-model="instName" class="form-control" placeholder="Instance Name" ng-show="entryNotExist" required />
				</div>
				<div class="form-group">
					<div>
						<input type="text" name="user_name" ng-model="userName" class="form-control" placeholder="User Name" required />
					</div>
				</div>
				<div class="form-group">
					<div>
						<input type="password" name="password" ng-model="password" class="form-control" placeholder="Password" required />
					</div>
				</div>
				<div class="form-group">
					<label>
						<input type="checkbox" name="remember" ng-model="remember" required /> Remember Me
					</label>
				</div>
				<div class="form-group">
					<input type="button" value="Login" ng-click="submit(loginForm)" class="btn btn-primary"/> 
				</div>
			</form>
		</div>
	</div>
</div>
