<div ng-controller="mainController">
	<div class="scrollable">
		<div class="scrollable-content">
			<div class="well">
				Welcome here you can find all details related to student.
			</div>
			<div>Student Details</div>
				Name : {{stu_name}}<br/>
				Class : {{stu_class}}<br/>
				DOB : {{stu_dob}}<br/>
				Student ID  : {{stu_id}}<br/>
				Father Name : {{stu_fat_name}}<br/>
				Mother Name : {{stu_mot_name}}<br/>
				Mobile No : {{stu_fat_mob_no}}<br/>
				Address : {{stu_address}}<br/>
		</div>
	</div>
</div>
