<div ng-controller="mainController">
	<div class="scrollable">
		<div class="scrollable-content">
			<br/>
			<div class="header_sub"><h4>Student Details<h4></div>
			<table class="table table-hover">
				<tbody>
					<tr><td><img src="http://thoughtnet.pupilpod.in/files/thoughtnet.pupilpod.in/photos/91986337552022d9e49528_13anand.r.jpg" alt="Student Image"/></span></td>
						<td><span ng-bind="studentName"></span ></td>
					</tr>
					<tr ng-repeat="details in studentDetails">
						<td><span ng-bind="details.key"></span ></td>
						<td><span ng-bind="details.key"></span ></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
