<div class="scrollable modal hide fade">	
	<h1 class="scrollable-header app-name" style="color:#4286F5;">PupilPod</h1>  
	<div class="scrollable-content">
		<div class="list-group" ui-turn-off='uiSidebarLeft;unblurMain();'>
			<a class="list-group-item" href="#/mainLanding"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home <i class="fa fa-chevron-right pull-right"></i></a>
			<a class="list-group-item" href="#/exam_details"><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;&nbsp;Examination <i class="fa fa-chevron-right pull-right"></i></a>
			<a class="list-group-item" href="#/fees"><i class="fa fa-inr"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fees<i class="fa fa-chevron-right pull-right"></i></a>
		</div>
	</div>
</div>
