<div class="scrollable">
  <h1 class="scrollable-header app-name">PupilPod</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/mainLanding"><i class="glyphicon glyphicon-home"></i>Home <i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" href="#/exam_details"><i class="glyphicon glyphicon-education"></i>Examination <i class="fa fa-chevron-right pull-right"></i></a>
	  <a class="list-group-item" href="#/fees"><i class="glyphicon glyphicon-piggy-bank"></i>Fees <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>
