<!--<div class="jumbotron">-->
<!-- <div ng-controller="HeadingController">
		<nba-heading info="home"></nba-heading>	
	</div>	
	<div class="panel panel-primary">
		<div class="panel-heading">Topics to be consider</div>
		<div class="panel-body">
			<ol>
				<li> Vision, Mission and Programme Educational Objectives </li>
				<li> Programme Curriculum and Teaching-Learning Processes  </li>
				<li> Programme Outcomes and Course Outcomes </li>
				<li> <a ng-href="#/nb_dash">Students Performance</a> </li>
				<li> Faculty Information and Contributions </li>
				<li> Facilities and Technical Support </li>
				<li> Continuous Improvement </li>
				<li> First Year Academics </li>
				<li> Student Support Systems </li>
				<li> Governance, Institutional support and Financial Resources </li>
			</ol>
		</div>
	</div> -->
		<div><img src="/NBA/assets/images/nba_heading.png" class="headImg"/>&nbsp;&nbsp;<div STYLE="FONT-SIZE: 22PX;">PupilNBA</div></div><hr style="margin-top:0px;">
	<div class="well" style="margin-bottom:0px;text-align: justify;">
		The National Board of Accreditation (NBA), India was initially established by AICTE (All India Council of Technical Education) under section 10(u) of AICTE act, in the year 1994, for periodic evaluations of technical institutions & programmes basis according to specified norms and standards as recommended by AICTE council. NBA has introduced a new process, parameters and below 10 criterion’s for accreditation. These are in line with the best international practices and oriented to assess the outcomes of the programme.
	</div>
	<div class="tilePanelBody" >
			<ol style="padding-left:0px;">
				<li> <div>Vision, Mission and Programme Educational Objectives </div> </li>
				<li> <div>Programme Curriculum and Teaching Learning Processes</div>   </li>
				<li> <div class="implemented"><a ng-href="#/nb_dash">Programme Outcomes and Course Outcomes</a></div>  </li>
				<li> <div>Students Performance</div>  </li>
				<li> <div>Faculty Information and Contributions </div> </li>
				<li> <div>Facilities and Technical Support </div> </li>
				<li> <div>Continuous Improvement </div> </li>
				<li> <div>First Year Academics </div> </li>
				<li> <div>Student Support Systems </div> </li>
				<li> <div>Governance, Institutional support and Financial Resources </div> </li>
			</ol>
	</div>
	
